*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{

    scroll-behavior:smooth;

}

body{

    background:#F8F4EF;

    font-family:'Poppins',sans-serif;

    color:#3A312A;

}

.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:30px;

}

.hero-content{

    max-width:700px;

    animation:fadeUp 1.8s ease;

}

.small{

    font-size:15px;

    letter-spacing:2px;

    margin-bottom:20px;

    opacity:.7;

}

h1{

    font-family:'Playfair Display',serif;

    font-size:64px;

    line-height:1.1;

}

.subtitle{

    margin-top:20px;

    font-size:20px;

    opacity:.8;

}

button{

    margin-top:60px;

    border:none;

    background:#3A312A;

    color:white;

    padding:16px 42px;

    border-radius:50px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:translateY(-3px);

    background:#57463c;

}
.intro{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:80px 30px;

}

.intro h2{

    font-family:'Playfair Display',serif;

    font-size:46px;

    margin-bottom:25px;

}

.intro p{

    max-width:700px;

    line-height:2;

    font-size:18px;

    opacity:.8;

}
@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
